.userContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 150px;
    align-items: center;
  }
  
  .user {
    width: 300px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: auto;
  }
  
  .text {
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 5px;
    align-items: center;
  }
  
  .textname {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 5px; 
    margin-top: 20px;
  }

  .textname:hover {
    color: rgb(99, 99, 99);
    text-decoration: underline;
  }
  
  .textname:active {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  
  .button {
    width: 140px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 35px;
    font-size: 14px;
    font-family: 'roboto condensed', sans-serif;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: black;
  }
  
  .button:active {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  