/* AddCityForm.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 360px;
}

.label {
  font-size: 16px;
  font-weight: bold;
}

.input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #616060;
}

h1 {
  text-align: center;
}

.success {
  color: green;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.table {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.cityLogo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .table {
    max-width: 300px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 260px;
  }
}
