.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 50px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.formContainer:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .formContainer {
    flex-direction: column;
    padding: 20px 50px 20px 50px;

  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
