.eventDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #f6f9f9;
   
}

.eventDetailContent {
  width: 100%;
}

.eventImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  margin-top: 150px;
  margin-left: 320px;
}

.locationIcon,
.dateIcon {
    width: 30px;
    margin-right: 8px;
}

.organizerIcon {
  width: 20px;
  margin-left: 350px;
  margin-bottom: -20px;
}

.socialIcon1,
  .socialIcon2,
  .socialIcon3 {
    width: 30px;
    margin-left: -100px;
    margin-bottom: -80px;
    
  }
  
.eventTitle {
    text-align: left;
    font-size: 45px;
    margin-bottom: 10px;
    margin-left: 840px;
    margin-top: -330px;
    font-family: 'roboto condensed', sans-serif;
    align-items: flex-start;
}

.eventDate,
.eventLocation {
  text-align: left;
  font-size: 16px;
  font-family: 'roboto condensed', sans-serif;
  margin-left: 840px;
  margin-top: 20px;
}

