.event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

}

.headerWallpaper {
  display: flex;
  justify-content: center;
  margin: auto 20px;
}

.blue-background {
  background-color: rgba(235, 241, 243, 0.801);
  border-top-left-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
  height: 50vh;
}

.header {
  background-size: cover;
  height: 50vh;
  width: 50%;
  border-top-right-radius: 35px;
}

.title-header {
  margin-left: 20%;
  text-align: left;
  font-family: 'roboto condensed', sans-serif;
  font-size: 50px;
  color: grey;
}

.title-city {
  font-family: 'roboto condensed', sans-serif;
  font-size: 4vw;
  color: black;
}

.custom-clock {
  margin-left: 20%;
  font-family: 'roboto condensed', sans-serif;
  font-size: 2vw;
  color: black;
  margin-top: 20px;
}

.text-p {
  margin-left: 20%;
  font-family: 'roboto condensed', sans-serif;
  color: black;
  margin-bottom: 50px;
  font-size: 25px;
}

.subscribe-container {
  margin-left: 30%;
  margin-top: -25px;
}

.title-events {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  font-family: 'roboto condensed', sans-serif;
  font-size: 2.5vw;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
  margin-top: 50px;
  padding: 0 20px;
}

@media (max-width: 768px) {
 
  .headerWallpaper {
    display: flex;
    margin: auto 20px;
    flex-direction: column-reverse;
  }
  
  .header {
    background-size: cover;
    height: 260px;
    width: 50%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
  }

  .blue-background {
    background-color: rgba(235, 241, 243, 0.801);
    border-top-left-radius: 0;
    width: 100%;
    height: 250px;
  }

  .title-header {
    margin-left: 0;
    text-align: center;
    font-size: 20px;
  }

  .custom-clock {
    text-align: center;
    margin-left: 0;
    margin-top: -10px;
    font-size: 3vw;
  }

  .text-p {
    margin-left: 0;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
  }

  .subscribe-container {
    margin-left: 0;
    margin-top: -35px;
  }

  .title-events {
    text-align: left;
    font-size: 5.5vw;
  }

  .main {
    min-width: 450px;
    min-height: 100vh;
    margin-top: 50px;
    padding: 0 20px;
  }

  .title-city {
    font-size: 6vw;
  }
}
