.event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
}

.headerWallpaper {
  display: flex;
}

.blue-background {
  background-color: rgba(87, 167, 236, 0.658);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
}

.header {
  background-size: cover;
  height: 50vh;
  width: 50%;
}

.title-header {
  margin-left: 20%;
  text-align: left;
  font-family: 'roboto condensed', sans-serif;
  font-size: 4vw;
  color: #e6eeee;
}

.title-city {
  font-family: 'roboto condensed', sans-serif;
  font-size: 6vw;
  color: black;
}

.custom-clock {
  margin-left: 20%;
  font-family: 'roboto condensed', sans-serif;
  font-size: 3vw;
  color: #fff;
  margin-top: 20px;
}

.text-p {
  margin-left: 20%;
  font-family: 'roboto condensed', sans-serif;
  color: black;
  font-size: 2vw;
  margin-top: 20px;
}

.subscribe-container {
  margin-left: 20%;
  margin-top: 25px;
}

.title-events {
  font-family: 'roboto condensed', sans-serif;
  font-size: 5vw;
  margin-left: 200px;
}

.main {
  min-height: 100vh;
  text-align: left;
  margin-top: 50px;
  padding: 0 20px;
}


@media (max-width: 768px) {
  .headerWallpaper {
    display: flex;
    flex-direction: column-reverse;
  }
  .header {
    height: 200px;
    min-width: 400px;
  }
  .blue-background {
    background-color: rgba(87, 167, 236, 0.658);
    min-width: 350px;
    padding-left: 50px;
    height: 250px;
  }

  .title-header {
    margin-left: 0;
    margin-top: 30px;
    text-align: left;
  }

  .custom-clock {
    margin-left: 0;
    margin-top: 6px;
  }

  .text-p {
    margin-left: 0;
    font-size: 3vw;
    margin-top: 5px;
  }

  .subscribe-container {
    margin-left: 0;
    margin-top: 5px;
  }

  .title-events {
    text-align: left;
  }

  .main {
    min-width: 450px;
    min-height: 100vh;
    text-align: left;
    margin-top: 50px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .title-header {
    font-size: 2vw;
    margin-top: 30px;
    text-align: left;
  }

  .title-city {
    font-size: 4vw;
  }

  .custom-clock {
    font-size: 1vw;
  }

  .text-p {
    font-size: 2vw;
    margin-top: 5px;
  }

  .title-events {
    text-align: left;
    font-size: 3vw;
    margin-left: 500px;
  }

  .main {
    min-width: 450px;
    min-height: 100vh;
    text-align: left;
    margin-top: 50px;
    padding: 0 20px;
  }
}
