.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.innerContainer {
  margin-top: -200px;
  max-width: 300px;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-family: var(--font-family-condensed);
}

h2 {
  color: #fff;
  font-family: var(--font-family-condensed);
  font-size: 25px;
  text-align: center;
}

.subtitle {
  max-width: 300px;
  color: aliceblue;
  font-family: var(--font-family-condensed);
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
}

.logo {
  height: 80px;
  width: 80px;
}

.subtitleLogo {
  display: flex;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: var(--font-family-condensed);
}

.text p {
  color: #fff;
  font-family: var(--font-family-condensed);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-family: var(--font-family-condensed);
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-size: 12px;
  font-family: var(--font-family-condensed);
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eef3f8;
  font-family: var(--font-family-condensed);
  color: #0c0b0b;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #bdbfc0;
}

.buttonGoogle {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.buttonGoogle:hover {
  background-color: #d2d7db;
  color: #0c0b0b;
}

.text .selected {
  text-decoration: none;
  color: #696868;
}

.containerRegisterUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.link {
  padding: 0;
  margin: 0;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family-condensed);
  font-size: 16px;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.error {
  margin-left: 5px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .innerContainer {
    padding: 10px;
  }
}
