.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 20px;
  height: 35px;
  background-color: white;
  box-shadow: var(--box-shadow-footer);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footermain {
  position: relative;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  margin-right: 20px;
}

.footerlegal {
  position: relative;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
  overflow: hidden;
  margin-right: 20px;
}

.footermenu {
  margin-left: 30px;
}
