.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 20px;
    height: 45px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
} 


.footermain {
    position: relative; 
    background-color: transparent;
    border: none;
    color: black;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden; 
    margin-right: 20px;
}

.footerlegal {
    position: relative; 
    background-color: transparent;
    border: none;
    color: black;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    overflow: hidden; 
    margin-right: 20px;

}

.footermenu {
    margin-left: 30px;
}