.containerMain {
  padding-bottom: 100px;
}

.containerContent h1 {
  padding: 10px;
  font-size: 35px;
  text-align: left;
  font-family: 'roboto condensed', sans-serif;
}

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'roboto condensed', sans-serif;
  text-align: justify;
}

.containerContent h3 {
  padding: 10px;
  font-size: 35px;
  font-family: 'roboto condensed', sans-serif;
}

.containerContent p {
  margin-top: 2px;
  padding: 10px;
  font-size: 20px;
  font-family: 'roboto condensed', sans-serif;
}

.containerCities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

.cityLink {
  text-decoration: none;
}

.cityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  transition: transform 0.3s;
}

.cityContainer:hover {
  transform: translateY(-5px);
}

.cityInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  margin-top: 15px;
  margin-left: 5px;
  max-width: 40%;
  font-family: 'roboto condensed', sans-serif;
}

.cityLogo {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.cityName {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  font-family: 'roboto condensed', sans-serif;
}

.eventCount {
  font-size: 1rem;
  color: #666;
  margin-top: 0;
}

h2 {
  color: #333;
}

.featuredSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 100px;
}

.featuredHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.featuredHeader h3 {
  font-size: 35px;
  text-align: left;
  color: #333;
  margin: 0;
  font-family: 'roboto condensed', sans-serif;
}

.featuredHeader p {
  font-size: 17px;
  text-align: left;
  color: #777;
  
  font-family: 'roboto condensed', sans-serif;
}



.eventGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.eventCard {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 235px;
  height: 320px;

}

.eventCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.eventPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  width: 80%;
  padding: 10px;
  text-align: center;
}

.eventTitle,
.eventDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .eventGrid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .containerContent p {
    padding-left: 40px;
    padding-right: 40px;
  }
}
