.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.inputDate,
.inputTime,
.inputTitle,
.inputDescription,
.inputPrice,
.inputLocation,
.inputCapacity,
.inputSubmit {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  color: #333;
  font-weight: 600;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.inputTitle,
.inputDescription {
  width: 100%;
}

.inputTitle {
  height: 4vh;
}

.inputDescription {
  height: 8vh;
  resize: none;
}

.inputPrice,
.inputLocation {
  flex: 1;
  min-width: 150px;
  margin: 5px;
}

.inputCapacity {
  display: flex;
  width: 100%;
  padding: 5px;
}

.inputSubmit {
  color: white;
  background-color: black;
  border: 2px solid black;
  width: 100%;
  height: 7vh;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inputSubmit:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.labels {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  margin-bottom: 5px;
  font-weight: bold;
}

.radio {
  appearance: none;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  border: 2px solid #ccc;
  background-color: white;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio:checked {
  background-color: black;
  border: 2px solid black;
}

.capacityContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.capacityBorder {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 7px;
  gap: 10px;
  flex-wrap: wrap;
}

.capacityBorder > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.errors {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  color: red;
}

.dateTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 150px;
  margin: 5px;
}

.dateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}

.priceLocation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 768px) {

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
  }

  .dateContainer {
    flex-direction: column;
  }

  .inputDate,
  .inputTime,
  .inputTitle,
  .inputDescription,
  .inputPrice,
  .inputLocation,
  .inputCapacity,
  .inputSubmit {
    width: 100%;
    margin: 10px 0;
  }

  .priceLocation {
    flex-direction: column;
  }

  .capacityContainer {
    flex-direction: column;
  }
}
