.eventList {
  width: 80%;
  max-width: 500px;
  cursor: pointer;
}

.event {
  font-family: 'roboto condensed', sans-serif;
  padding: 10px 20px;
  border: none;
  margin-top: 40px;
  background-color: #e6e8e8;
  border-radius: 10px;
}

.eventItem {
  margin-bottom: 5px;
  font-family: 'roboto condensed', sans-serif;
}

.hour {
  font-family: 'roboto condensed', sans-serif;
  font-size: 22px;
  color: black;
  opacity: 0.7;
  text-decoration: none;
}

.name {
  font-family: 'roboto condensed', sans-serif;
  font-size: 22px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.organizedBy {
  font-family: 'roboto condensed', sans-serif;
  font-size: 22px;
  color: black;
  opacity: 0.7;
  text-decoration: none;
}

.eventLink {
    color: black;
    text-decoration: none;
}
