.ImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.eventImage {
    display: flex;
    width: 60%;
    margin-bottom: 5%;
    border-radius: 5%;

}

.imagePicker{
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSelect{
    width: 50px;
    border-radius: 15%;
}