.ImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.eventImage {
    display: flex;
    width: 60%;
    margin-bottom: 5%;
    border-radius: 5%;
}

.imagePicker {
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSelect {
    width: 50px;
    border-radius: 15%;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    height: 4vh;
    width: 80%;
    border-radius: 7px;
    padding-left: 2vh;
    font-family: "Roboto";
    font-size: 1.1em;
}

.labels {
    font-family: "Roboto";
    font-size: 1.1em;
}